.selected {
  color: royalblue;
}

.about-us {
  margin-left: -8;
  margin-right: -8;
  padding-left: 81px;
  padding-right: 81px;
  padding-top: 40px;
  padding-bottom: 60px;
  background: white;
  display: flex;
  justify-content: center;
}
.about-in {
    max-width: 1000px;
}
.about-title {
  color: royalblue;
}

.upcoming-events {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  margin-left: -8px;
  margin-right: -8px;
  background: royalblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.events-title {
  align-self: center;
  color: white;
  margin-bottom: -10px;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-card {
  background: white;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 40px;
  box-shadow: 0px 0px 40px rgba(32, 41, 126, 0.8);
  border-radius: 0.4em;
  max-width: 400px;
  transition: 200ms ease-in-out;
  min-width: 280px;
}
.event-card:hover {
    padding: 41px;
    padding-top: 21px;
    padding-bottom: 21px;
    margin: 39px;
    box-shadow: 0px 0px 60px rgba(32, 41, 126, 0.9);
}
.card-title {
  font-size: 16px;
  color: rgb(117, 117, 117);
  font-weight: 100;
}

.event-text {
  margin-top: -23px;
  color: royalblue;
  font-size: 25px;
  font-weight: 900;
}

.view-all-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all {
    transition: 200ms ease-in-out;
    border: none;
    background: rgb(30, 30, 30);
    width: 10em;
    height: 4em;
    margin-top: 0px;
    margin-bottom: 40px;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 40px rgba(32, 41, 126, 0.8);
    cursor: pointer;
}

.view-all:hover {
    box-shadow: 0px 0px 60px rgba(32, 41, 126, 0.9);
    opacity: 0.9;
}

.view-all-text {
    font-size: 20px;
    color: royalblue;
}

.contact {
  line-height: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-title {
  align-self: center;
  color: royalblue;
  font-size: 25px;
}

.info-wrapper {
  align-self: center;
  line-height: 1rem;
}

.contact-info {
  line-height: 1rem;
}

@media (max-width: 540px) {
  .event-card {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
  }
  .event-card:hover {
    padding: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin: 19px;
  }

  .about-us {
    margin-inline: -8;
    padding-inline: 30px;
    padding-top: 40px;
    padding-bottom: 60px;
    background: white;
  }
}
