html {
  scroll-behavior: smooth;
}
.body[data-noscroll=true]{
    position: fixed;
    overflow-y: scroll;
}

* {
  text-decoration: none;
  font-family: Poppins;
  color: rgb(127, 127, 127);
  list-style-type: none;
}

h1 {
  font-size: 33px;
}

.selected {
  color: royalblue;
}

.mode-toggle {
    display: grid;
    cursor: pointer;
}

.dark-toggle {
    transition: 200ms ease-in-out;
}


.moon {
    height: 30px;
    grid-column: 1;
    grid-row: 1;
    transition: 100ms linear;
}
.sun {
    height: 30px;
    grid-column: 1;
    grid-row: 1;
    transition: 100ms linear;
}

.menu-bar {
  padding: 20px;
  display: flex;
}
.menu-bar .logo .logo-waukee {
  color: rgb(127, 127, 127);
  font-weight: 100;
  font-size: large;
}
.menu-bar .logo .logo-wyverns {
  color: royalblue;
  font-weight: 900;
}
.menu-bar .logo .logo-esports {
  color: rgb(127, 127, 127);
  letter-spacing: 13.7;
  font-weight: 100;
}
.menu-bar .navigation {
  flex-grow: 1;
  gap: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1em;
  margin-block: -10%;
  background: rgba(255, 255, 255, 0.9)
}
.text-color-shift {
    transition: 200ms ease-in-out;
}
.menu-bar svg {
  fill: royalblue;
  height: 1.5em;
  width: 1.5em;
  align-self: center;
  display: none;
}
svg rect{
    transform-box: fill-box;
    transform-origin: center;
    transition: 100ms ease-in-out;
}
.menu-divider {
  position: absolute;
  background: royalblue;
  height: 5px;
  width: 100vw;
  max-width: 100%;
  transform: translateX(-8px);
  z-index: 0;
}
.navigation p:hover {
    font-weight: 1000;
}
svg:hover rect{
    transition: 100ms ease-in-out;
    transform: translateY(-1.5px);
    height: 13px;
    rx: 6.5px;
}


.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loading-container {
    background: royalblue;
    margin-inline: -8px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    margin-block: 2rem;
}

.loading-container h1 {
    text-align: center;
    font-size: 20px;
}

.loading-icon-container {
    background: white;
    padding-inline: 40px;
    padding-block: 38.3px;
    margin: 40px;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 40px rgba(32, 41, 126, 0.8);
    transition: 200ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-icon-container img {
    animation-name: rotate;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


@media (max-width: 48rem) {
  .menu-bar .navigation {
    position: fixed;
    display: block;
    padding-block: 4em;
    padding-left: 2em;
    padding-right: 30%;
    margin: 0;
    backdrop-filter: blur(0.2em);
    height: 100vh;
    right: 0;
    top: 0;
    font-size: 1.5em;
    z-index: 1;
    transform: translateX(100%);
    transition: 400ms ease-in-out;
  }
  .menu-bar .nav-toggle[data-fixed=false] {
    display: flex;
    z-index: 9999;
    position: absolute;
    right: 0;
    margin-inline: 20px;
  }
  .menu-bar .nav-toggle[data-fixed=true] {
    display: flex;
    z-index: 9999;
    position: fixed;
    right: 0;
    margin-inline: 20px;
    overflow-y: scroll;
  }
  .nav-toggle[data-fixed=true] .rect-1{
    transform-box: fill-box;
    transform-origin: center;
    transform: translateY(30px) rotate(45deg);
  }
  .nav-toggle[data-fixed=true] .rect-2{
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(-45deg);
  }
  .nav-toggle[data-fixed=true] .rect-3{
    transform-box: fill-box;
    transform-origin: center;
    transform: translateY(-30px) rotate(45deg);
  }
  .menu-bar .nav-toggle:hover {
    cursor: pointer;
  }
  .navigation[data-visible=true] {
    transform: translateX(0);
  }
}

