.weekly-events {
    display: grid;
}
.day-selection {
    justify-content: center;
    display: flex;
}
.days {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.selectable-day {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    background: royalblue;
    width: 95.5;
    height: 25;
    padding-inline: 13px;
    padding-block: 9px;
    margin-block: 32px;
    margin-inline: 10px;
    border-radius: 0.2em;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    transition: 200ms ease-in-out;
    cursor: pointer;
    font-weight: 900;
}
.selectable-day[data-mode=dark] {
    color: rgb(30, 30, 30);
} 
.selectable-day[data-mode=light] {
    color: white;
}
.selectable-day:hover {
    padding-inline: 14px;
    padding-block: 10px;
    margin-block: 31px;
    margin-inline: 9px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.4);
}

img {
    height: 26.29175;
    cursor: pointer;
}
.img-flip {
    transform: rotate(180deg);
}
#day-right {
    grid-row: 1;
    grid-column: 3;
}

.event-selection-numbers {
    display: flex;
    justify-content: center;
}

.event-selection-number {
    margin-inline: 10px;
    padding-inline: 14px;
    padding-block: 5px;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.event-selection-number[data-selected=false] {
    background: none;
    color: rgb(117, 117, 117);
}

.event-selection-number[data-selected=true] {
    background: royalblue;
    color: white;
    border-radius: 0.1rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.event-selection-number[data-selected=true]:hover {
    margin-inline: 9.5px;
    padding-inline: 14.5px;
    padding-block: 5.5px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.4);
}

.event-info-container {
    background: royalblue;
    margin-inline: -8px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    margin-block: 2rem;
}

.event-info {
    background: white;
    padding-inline: 40px;
    padding-block: 20px;
    margin: 40px;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 40px rgba(32, 41, 126, 0.8);
    transition: 200ms ease-in-out;
}

.event-info:hover {
    box-shadow: 0px 0px 60px rgba(32, 41, 126, 0.9);
    padding-inline: 41px;
    padding-block: 21px;
    margin: 39px;
}

.title {
    margin-bottom: -30px;
    font-size: 15px;
}
.para {
    color: royalblue;
    font-size: 25px;
    font-weight: 900;
}

.no-events {
    color: royalblue;
    font-size: 20px;
    text-align: center;
}

.loading-container {
    background: royalblue;
    margin-inline: -8px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    margin-block: 2rem;
}

.loading-container h1 {
    text-align: center;
    font-size: 20px;
}
